<h2 class='text-muted'>ADD RESOURCE</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_resource_path(@conn, :create) %>

<span><%= link "Back", to: admin_resource_path(@conn, :index) %></span>
