<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Вакансии, Erlang, Elixir, Phoenix, job">
        <meta name="author" content="">

        <title>Erlang Jobs - вакансии по Erlang/Elixir</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
        <style>
            .navbar-toggler {
                z-index: 1;
            }
            
            @media (max-width: 576px) {
                nav > .container {
                    width: 100%;
                }
            }
        </style>
    </head>

    <body id="page-top">

        <%= render "menu.html", conn: @conn %>
        
        <%= render @view_module, @view_template, assigns %>

        <%= render "footer.html", conn: @conn %>

        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>

</html>
