<h2 class='text-muted'>РЕДАКТИРОВАНИЕ ВАКАНСИИ</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_job_path(@conn, :update, @job) %>

<span><%= link "Назад", to: job_path(@conn, :index) %></span>
