body {
  background-color: #f7f7f7;
}

@media (max-width: 576px) {
  section h2.section-heading {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  #portfolio .portfolio-item .portfolio-caption p {
    font-size: 12px;
  }

  .btn-xl {
    font-size: 14px;
  }

  section {
    padding: 80px 0;
  }
}

@media (max-width: 768px) {
  h4 {
    font-size: 16px;
  }

  #portfolio .portfolio-item .portfolio-caption p {
    font-size: 14px;
  }

  .btn-xl {
    font-size: 14px;
  }

  section {
    padding: 80px 0;
  }
}

.portfolio_row {
  margin-top: 25px;
}

.help-block {
  color: #DC3545;
}

.job_article {
  text-align: left;
}

.social_share {
  margin-bottom: 20px;
}

.portfolio-caption {
  cursor: pointer;

  .-right {
    text-align: right;
  }
  .date_right {
    float: right;
  }
}

.job_link {
	color: #000;
}

.job_link:hover {
  text-decoration: none;
}

.badge-purple {
  font-weight: 500;
  background-color: #9A54B1;
  text-transform: capitalize;
}

